<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CO2</title>
        <link rel="stylesheet" href="../../app/assets/stylesheets/style.css">
    </head>
</html>

<body id="home">
    <header class="header">
        <a href="/home"><%= image_tag 'logo.png', alt: 'logo' %></a>
        <nav class="menu">
            <li><a class="item" href="/home">home</a></li>
            <li><a class="item" href="/transport">Ajouter un transport</a></li>
        </nav>
    </header>

    <main>
    </main>
</body>