@use "../abtract" as *;

.menu
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > li
    {
        list-style: none;

        & > .item
        {
            display: block;

            padding: 15px;
            box-sizing: content-box;

            color: $grey;

            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;

            transition: .3s;
            cursor: pointer;

            &:hover
            {
                color: $blue2;

                transition: .3s;
            }
        }
    }
}